# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
venv/
env/
ENV/
.venv/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code local history
.history/
